<%- include("partials/header") -%>

<main class="bobaFett mando">

    <h1 class="color-lb">Bienvenue cher skieur !</h1>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-3 m-3">
                <div class="container-home d-flex flex-column justify-content-center align-items-center p-3">
                    <img src="/img/ico-1.png" alt="icon profil" class="m-1">
                    <p>Voir votre profil</p>
                </div>
            </div>
            <div class="col-3 m-3">
                <div class="container-home d-flex flex-column justify-content-center align-items-center p-3">
                    <img src="/img/ico-1.png" alt="icon profil" class="m-1">
                    <p>Découvrir des spots</p>
                </div>
            </div>
            <div class="col-3 m-3">
                <div class="container-home d-flex flex-column justify-content-center align-items-center p-3">
                    <img src="/img/ico-1.png" alt="icon profil" class="m-1">
                    <p>Proposer son spot</p>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include("partials/footer") -%>