<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="flex-container-between">
    <header>
        <nav><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 1920 77" style="enable-background:new 0 0 1920 77;" xml:space="preserve">
       <style type="text/css">
           .st0{fill:none;stroke:#A7CBD5;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
           .st1{fill:none;stroke:#A7CBD5;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;}
           .st2{fill:none;stroke:#A7CBD5;}
           .st3{fill:#A7CBD5;}
           .st4{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter);}
           
               .st5{mask:url(#path-10-inside-1_95_606_00000112630072971928454520000003494426371100582822_);fill:#FFFFFF;stroke:#A7CBD5;stroke-width:2;}
           .st6{fill:#FFFFFF;}
           .st7{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_00000103225296275512006780000015855033121202178489_);}
           .st8{mask:url(#path-11-inside-2_95_606_00000160149187121977517460000001554862173834685612_);fill:#A7CBD5;}
           .st9{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_00000039121546715710827510000010579155077011665574_);}
           .st10{mask:url(#path-13-inside-3_95_606_00000039122541642827685300000010074816358278123190_);fill:#A7CBD5;}
           .st11{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_00000145052751541013519310000008329088658277827976_);}
           .st12{mask:url(#path-15-inside-4_95_606_00000008145347515118916760000007028492936849823154_);fill:#A7CBD5;}
           .st13{fill:#FFFFFF;stroke:#A7CBD5;}
           .st14{fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_00000097478945548365268500000004737242224421939603_);}
           .st15{mask:url(#path-18-inside-5_95_606_00000150820605377957482830000006808608735145511833_);fill:#A7CBD5;}
       </style>
       <path class="st0" d="M903.1,47.2c-2.2-3-3.3-6.7-3-10.5c0.3-3.8,2-7.3,4.7-9.8c2.7-2.5,6.2-4,9.9-3.9c3.6,0,7.2,1.4,9.8,4
           c2.7,2.6,4.3,6.1,4.6,9.8c0.3,3.8-0.8,7.5-3.1,10.4c-2.3,3-5.5,4.9-9.1,5.5s-7.3-0.3-10.3-2.4l-6.2,2.5L903.1,47.2z"/>
       <path class="st1" d="M827.1,23.8l-13.3,14c-0.5,0.5-0.8,1.2-0.8,2v11.4c0,0.5,0.2,1,0.6,1.3c0.4,0.4,0.8,0.5,1.4,0.5h7.8
           c0.3,0,0.5,0,0.7-0.1c0.2-0.1,0.5-0.2,0.6-0.4c0.2-0.2,0.3-0.4,0.4-0.6c0.1-0.2,0.1-0.5,0.1-0.7v-10c0-1.1,0.3-2.1,1-2.9
           c0.7-0.8,1.6-1.4,2.7-1.6c0.6-0.1,1.2,0,1.8,0.1c0.6,0.2,1.1,0.5,1.6,0.9c0.5,0.4,0.8,0.9,1.1,1.4c0.3,0.5,0.4,1.1,0.4,1.7v10.3
           c0,0.5,0.2,1,0.6,1.3c0.4,0.4,0.8,0.5,1.4,0.5h7.8c0.3,0,0.5,0,0.7-0.1c0.2-0.1,0.5-0.2,0.6-0.4c0.2-0.2,0.3-0.4,0.4-0.6
           c0.1-0.2,0.1-0.5,0.1-0.7V39.7c0-0.7-0.3-1.4-0.8-2l-13.3-14c-0.2-0.3-0.5-0.5-0.9-0.6s-0.7-0.2-1-0.2c-0.4,0-0.7,0.1-1,0.2
           C827.6,23.3,827.3,23.6,827.1,23.8L827.1,23.8z"/>
       <path class="st1" d="M1888,44.4c3.8-1.4,5.8-5.7,4.3-9.5s-5.7-5.8-9.5-4.3c-3.8,1.4-5.8,5.7-4.3,9.5
           C1880,43.9,1884.2,45.8,1888,44.4z"/>
       <path class="st1" d="M1892.2,45.7l-2.2-2.7"/>
       <path class="st2" d="M1605,28.5h259c2.5,0,4.5,2,4.5,4.5v9c0,2.5-2,4.5-4.5,4.5h-259c-2.5,0-4.5-2-4.5-4.5v-9
           C1600.5,30.5,1602.5,28.5,1605,28.5z"/>
       <path class="st3" d="M70.2,53.7v-1.8c0-1-0.8-1.8-1.8-1.8h-11c-1,0-1.8,0.8-1.8,1.8v0.4H29.2v-1.6c0-0.3-0.3-0.6-0.6-0.6
           c-0.3,0-0.6,0.3-0.6,0.6v1.6h-2.5c-0.3,0-0.6,0.3-0.6,0.6c0,0.3,0.3,0.6,0.6,0.6H28l0,1.6c0,0.3,0.3,0.6,0.6,0.6
           c0.3,0,0.6-0.3,0.6-0.6v-1.6l26.4,0v0.4c0,1,0.8,1.8,1.8,1.8h11C69.4,55.5,70.2,54.7,70.2,53.7L70.2,53.7z M64.6,51.2v3.2h-3.5v-3.2
           H64.6z M69.1,51.9v1.8c0,0.4-0.3,0.7-0.7,0.7h-2.7v-3.2h2.7C68.8,51.2,69.1,51.5,69.1,51.9L69.1,51.9z M56.7,53.7v-1.8
           c0-0.4,0.3-0.7,0.7-0.7H60v3.2h-2.6C57,54.4,56.7,54.1,56.7,53.7z"/>
       <path class="st3" d="M70.2,24.6v-1.8c0-1-0.8-1.8-1.8-1.8h-11c-1,0-1.8,0.8-1.8,1.8v0.4H29.2v-1.6c0-0.3-0.3-0.6-0.6-0.6
           c-0.3,0-0.6,0.3-0.6,0.6v1.6l-2.5,0c-0.3,0-0.6,0.3-0.6,0.6c0,0.3,0.3,0.6,0.6,0.6H28v1.6c0,0.3,0.3,0.6,0.6,0.6
           c0.3,0,0.6-0.3,0.6-0.6v-1.6h26.4v0.4c0,1,0.8,1.8,1.8,1.8l11,0C69.4,26.5,70.2,25.6,70.2,24.6L70.2,24.6z M64.6,22.1v3.2h-3.5v-3.2
           H64.6z M69.1,22.8v1.8c0,0.4-0.3,0.7-0.7,0.7h-2.7v-3.2h2.7C68.8,22.1,69.1,22.4,69.1,22.8z M56.7,24.6v-1.8c0-0.4,0.3-0.7,0.7-0.7
           H60v3.2h-2.6C57,25.3,56.7,25,56.7,24.6L56.7,24.6z"/>
       <path class="st3" d="M25,37v1.8c0,1,0.8,1.8,1.8,1.8h11c1,0,1.8-0.8,1.8-1.8v-0.4h26.4v1.6c0,0.3,0.3,0.6,0.6,0.6
           c0.3,0,0.6-0.3,0.6-0.6v-1.6l2.5,0c0.3,0,0.6-0.3,0.6-0.6c0-0.3-0.3-0.6-0.6-0.6h-2.5v-1.6c0-0.3-0.3-0.6-0.6-0.6
           c-0.3,0-0.6,0.3-0.6,0.6v1.6H39.6V37c0-1-0.8-1.8-1.8-1.8l-11,0C25.8,35.2,25,36,25,37L25,37z M30.6,39.6v-3.2h3.5v3.2H30.6z
            M26.1,38.9V37c0-0.4,0.3-0.7,0.7-0.7h2.7v3.2h-2.7C26.4,39.6,26.1,39.3,26.1,38.9z M38.5,37v1.8c0,0.4-0.3,0.7-0.7,0.7h-2.6v-3.2
           h2.6C38.2,36.4,38.5,36.7,38.5,37L38.5,37z"/>
       <defs>
           <filter id="Adobe_OpacityMaskFilter" filterUnits="userSpaceOnUse" x="992" y="22.5" width="27.5" height="30.8">
               <feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
           </filter>
       </defs>
       <mask maskUnits="userSpaceOnUse" x="992" y="22.5" width="27.5" height="30.8" id="path-10-inside-1_95_606_00000112630072971928454520000003494426371100582822_">
           <path class="st4" d="M1018.5,47.7c0-0.1,0-0.2,0-0.4l0-0.3l-0.1-0.7l0-0.4c0-0.5-0.2-0.9-0.3-1.3c-0.6-1.5-1.9-2.7-3.5-3l-5.1-1.2
               v-0.7c0,0,0,0,0,0c0.8-0.7,1.3-1.7,1.5-2.7l0.3-1.6c0.4-0.2,0.7-0.7,0.8-1.2c0,0,0-0.1,0-0.1v-1.8c0-0.5-0.2-0.9-0.5-1.2
               c0-2.7-1.9-5-4.4-5.6c0-0.1,0-0.1,0-0.2c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0-0.8-0.7-1.5-1.5-1.5c-0.8,0-1.5,0.7-1.5,1.5
               c0,0.1,0,0.3,0,0.4c-2.5,0.6-4.4,2.9-4.4,5.6c-0.3,0.3-0.5,0.7-0.5,1.2v1.8c0,0,0,0.1,0,0.1c0,0.5,0.3,1,0.8,1.2l0.3,1.6
               c0.2,1.1,0.7,2,1.5,2.7c0,0,0,0,0,0v0.7l-5.1,1.2c-1.6,0.4-2.9,1.5-3.5,3c-0.2,0.4-0.3,0.9-0.3,1.3l0,0.4l-0.1,0.7l0,0.3
               c0,0.2,0,0.3,0,0.5c0,1.1,0.4,2.2,1.2,3c0.6,0.7,1.5,1.2,2.4,1.4c0.3,0.1,0.6,0.1,0.9,0.1h16.6c0.3,0,0.6,0,0.9-0.1
               c0.9-0.2,1.8-0.7,2.4-1.4C1018.1,50,1018.5,48.9,1018.5,47.7L1018.5,47.7z M1013.8,47.6c-0.2,0-0.4,0.2-0.4,0.4v0.6h-7.2v-4.8h0.6
               c0.3,0,0.6,0,0.8-0.1c0,0,0.1,0,0.2-0.1c0.1-0.1,0.2-0.1,0.3-0.2l0.1-0.1c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0.1,0c0.1,0,0.1-0.1,0.2-0.1
               c0,0,0.1-0.1,0.1-0.1c0.5-0.5,0.8-1.2,0.8-1.9v0l4.8,1.2l0.1,0c1.1,0.3,2.1,1,2.6,1.9c0.1,0.2,0.2,0.4,0.3,0.6
               c0.1,0.4,0.2,0.7,0.3,1.1l0,0.4l0.1,1c0.1,1-0.2,2-0.9,2.8c-0.7,0.7-1.6,1.1-2.5,1.2V48C1014.2,47.8,1014,47.6,1013.8,47.6
               L1013.8,47.6z M1005.8,40L1005.8,40L1005.8,40c-0.8,0-1.5-0.1-2.1-0.4c-0.2-0.1-0.3-0.1-0.5-0.2c-0.5-0.3-0.9-0.7-1.3-1.1
               c-0.3-0.5-0.5-1-0.6-1.5l-0.2-1.1l2,0.6l0.1,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0h0h0h0h0c0,0,0,0,0.1,0h0
               c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0l0.1,0c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0
               c0,0,0,0,0.1,0l0,0c0,0,0,0,0.1-0.1l1.5-1.5c0,0,0.1-0.1,0.1-0.1c0,0,0.1,0,0.1,0.1l1.5,1.5c0,0,0,0,0.1,0.1l0,0c0,0,0,0,0.1,0
               c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0l0.1,0l0,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0h0
               c0,0,0,0,0.1,0h0h0h0h0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0l0.1,0l2-0.6l-0.2,1.1c-0.1,0.6-0.3,1.1-0.6,1.6
               c-0.3,0.5-0.8,0.8-1.2,1.1c-0.1,0.1-0.3,0.2-0.5,0.2C1007.2,39.8,1006.5,40,1005.8,40L1005.8,40z M1005.3,43.8v4.8h-7.2V48
               c0-0.2-0.2-0.4-0.4-0.4c-0.2,0-0.4,0.2-0.4,0.4v3.4c-1,0-1.9-0.5-2.5-1.2c-0.7-0.8-1-1.8-0.9-2.8l0.1-1l0-0.4
               c0-0.4,0.1-0.8,0.3-1.1c0.1-0.2,0.2-0.4,0.3-0.6c0.6-0.9,1.5-1.6,2.6-1.9l0.1,0l4.8-1.2v0c0,1.5,1.2,2.7,2.7,2.7L1005.3,43.8
               L1005.3,43.8z M1000.8,30.6c0.2-2.5,2.3-4.6,4.9-4.6c2.6,0,4.7,2,4.9,4.6c0,0-0.1,0-0.1,0h-1l0-0.1l0-0.5c0-0.2-0.2-0.4-0.4-0.4h0
               h0c-0.2,0-0.4,0.2-0.4,0.4l0,0.5v0.1h-0.8l0-0.1l0-0.5c0-0.2-0.2-0.4-0.4-0.4h0h0c-0.2,0-0.4,0.2-0.4,0.4l0,0.5l0,0.1h-0.8v-0.1
               l0-0.5c0-0.2-0.2-0.4-0.4-0.4h0h0c-0.2,0-0.4,0.2-0.4,0.4l0,0.5v0.1h-0.8l0-0.1l0-0.5c0-0.2-0.2-0.4-0.4-0.4h0h0
               c-0.2,0-0.4,0.2-0.4,0.4l0,0.5l0,0.1h-0.8l0-0.1l0-0.5c0-0.2-0.2-0.4-0.4-0.4h0h0c-0.2,0-0.4,0.2-0.4,0.4l0,0.5l0,0.1h-1
               L1000.8,30.6C1000.9,30.5,1000.9,30.5,1000.8,30.6L1000.8,30.6z M1000.3,34c0,0,0-0.1,0-0.1v-1.8c0-0.4,0.3-0.7,0.7-0.7h9.6
               c0.4,0,0.7,0.3,0.7,0.7v1.8c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c-0.1,0.2-0.2,0.4-0.5,0.5l-0.5,0.2l-1.7,0.5l-0.4,0.1c0,0-0.1,0-0.2,0
               l-1.6-1.5c-0.2-0.2-0.4-0.3-0.6-0.3c-0.1,0-0.1,0-0.2,0c-0.2,0-0.4,0.1-0.6,0.3l-1.5,1.5c0,0-0.1,0.1-0.2,0l-0.4-0.1l-1.7-0.5
               l-0.5-0.2C1000.5,34.4,1000.4,34.3,1000.3,34C1000.3,34,1000.3,34,1000.3,34L1000.3,34z M1005.8,24.3c0.3,0,0.6,0.3,0.6,0.6
               c0,0,0,0.1,0,0.1c0,0,0,0.1,0,0.1c0,0,0,0,0,0c-0.2,0-0.3,0-0.4,0h-0.1c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.3,0c0,0,0,0,0,0
               c0-0.1,0-0.1,0-0.2C1005.2,24.6,1005.4,24.3,1005.8,24.3L1005.8,24.3z M1005.3,51.4h-7.2v-2h7.2V51.4z M1005.3,41v2h-0.6
               c-0.6,0-1.1-0.3-1.4-0.7c0,0,0,0-0.1-0.1c0,0-0.1-0.1-0.1-0.1c0,0,0-0.1,0-0.1c-0.1-0.3-0.2-0.6-0.2-0.9v-1
               c0.8,0.4,1.6,0.6,2.5,0.7h0c0,0,0,0,0,0C1005.4,40.9,1005.3,41,1005.3,41L1005.3,41z M1006.2,40.8L1006.2,40.8
               c0.9-0.1,1.7-0.3,2.5-0.7v1c0,0.1,0,0.2,0,0.4c0,0.1-0.1,0.2-0.1,0.3c0,0.1-0.1,0.2-0.1,0.2c0,0.1-0.1,0.1-0.1,0.1c0,0,0,0-0.1,0.1
               c-0.2,0.2-0.4,0.4-0.6,0.5c0,0,0,0-0.1,0c-0.1,0-0.2,0.1-0.2,0.1c-0.1,0-0.3,0.1-0.5,0.1h-0.6v-2
               C1006.2,41,1006.2,40.9,1006.2,40.8C1006.2,40.9,1006.2,40.8,1006.2,40.8L1006.2,40.8z M1013.4,51.4h-7.2v-2h7.2V51.4z"/>
       </mask>
       <path class="st5" d="M1018.5,47.7c0-0.1,0-0.2,0-0.4l0-0.3l-0.1-0.7l0-0.4c0-0.5-0.2-0.9-0.3-1.3c-0.6-1.5-1.9-2.7-3.5-3l-5.1-1.2
           v-0.7c0,0,0,0,0,0c0.8-0.7,1.3-1.7,1.5-2.7l0.3-1.6c0.4-0.2,0.7-0.7,0.8-1.2c0,0,0-0.1,0-0.1v-1.8c0-0.5-0.2-0.9-0.5-1.2
           c0-2.7-1.9-5-4.4-5.6c0-0.1,0-0.1,0-0.2c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0-0.8-0.7-1.5-1.5-1.5c-0.8,0-1.5,0.7-1.5,1.5
           c0,0.1,0,0.3,0,0.4c-2.5,0.6-4.4,2.9-4.4,5.6c-0.3,0.3-0.5,0.7-0.5,1.2v1.8c0,0,0,0.1,0,0.1c0,0.5,0.3,1,0.8,1.2l0.3,1.6
           c0.2,1.1,0.7,2,1.5,2.7c0,0,0,0,0,0v0.7l-5.1,1.2c-1.6,0.4-2.9,1.5-3.5,3c-0.2,0.4-0.3,0.9-0.3,1.3l0,0.4l-0.1,0.7l0,0.3
           c0,0.2,0,0.3,0,0.5c0,1.1,0.4,2.2,1.2,3c0.6,0.7,1.5,1.2,2.4,1.4c0.3,0.1,0.6,0.1,0.9,0.1h16.6c0.3,0,0.6,0,0.9-0.1
           c0.9-0.2,1.8-0.7,2.4-1.4C1018.1,50,1018.5,48.9,1018.5,47.7L1018.5,47.7z M1013.8,47.6c-0.2,0-0.4,0.2-0.4,0.4v0.6h-7.2v-4.8h0.6
           c0.3,0,0.6,0,0.8-0.1c0,0,0.1,0,0.2-0.1c0.1-0.1,0.2-0.1,0.3-0.2l0.1-0.1c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0.1,0c0.1,0,0.1-0.1,0.2-0.1
           c0,0,0.1-0.1,0.1-0.1c0.5-0.5,0.8-1.2,0.8-1.9v0l4.8,1.2l0.1,0c1.1,0.3,2.1,1,2.6,1.9c0.1,0.2,0.2,0.4,0.3,0.6
           c0.1,0.4,0.2,0.7,0.3,1.1l0,0.4l0.1,1c0.1,1-0.2,2-0.9,2.8c-0.7,0.7-1.6,1.1-2.5,1.2V48C1014.2,47.8,1014,47.6,1013.8,47.6
           L1013.8,47.6z M1005.8,40L1005.8,40L1005.8,40c-0.8,0-1.5-0.1-2.1-0.4c-0.2-0.1-0.3-0.1-0.5-0.2c-0.5-0.3-0.9-0.7-1.3-1.1
           c-0.3-0.5-0.5-1-0.6-1.5l-0.2-1.1l2,0.6l0.1,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0h0h0h0h0c0,0,0,0,0.1,0h0
           c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0l0.1,0c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0
           c0,0,0,0,0.1,0l0,0c0,0,0,0,0.1-0.1l1.5-1.5c0,0,0.1-0.1,0.1-0.1c0,0,0.1,0,0.1,0.1l1.5,1.5c0,0,0,0,0.1,0.1l0,0c0,0,0,0,0.1,0
           c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0,0,0,0l0.1,0l0,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0.1,0,0.1,0h0
           c0,0,0,0,0.1,0h0h0h0h0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0l0.1,0l2-0.6l-0.2,1.1c-0.1,0.6-0.3,1.1-0.6,1.6
           c-0.3,0.5-0.8,0.8-1.2,1.1c-0.1,0.1-0.3,0.2-0.5,0.2C1007.2,39.8,1006.5,40,1005.8,40L1005.8,40z M1005.3,43.8v4.8h-7.2V48
           c0-0.2-0.2-0.4-0.4-0.4c-0.2,0-0.4,0.2-0.4,0.4v3.4c-1,0-1.9-0.5-2.5-1.2c-0.7-0.8-1-1.8-0.9-2.8l0.1-1l0-0.4c0-0.4,0.1-0.8,0.3-1.1
           c0.1-0.2,0.2-0.4,0.3-0.6c0.6-0.9,1.5-1.6,2.6-1.9l0.1,0l4.8-1.2v0c0,1.5,1.2,2.7,2.7,2.7L1005.3,43.8L1005.3,43.8z M1000.8,30.6
           c0.2-2.5,2.3-4.6,4.9-4.6c2.6,0,4.7,2,4.9,4.6c0,0-0.1,0-0.1,0h-1l0-0.1l0-0.5c0-0.2-0.2-0.4-0.4-0.4h0h0c-0.2,0-0.4,0.2-0.4,0.4
           l0,0.5v0.1h-0.8l0-0.1l0-0.5c0-0.2-0.2-0.4-0.4-0.4h0h0c-0.2,0-0.4,0.2-0.4,0.4l0,0.5l0,0.1h-0.8v-0.1l0-0.5c0-0.2-0.2-0.4-0.4-0.4
           h0h0c-0.2,0-0.4,0.2-0.4,0.4l0,0.5v0.1h-0.8l0-0.1l0-0.5c0-0.2-0.2-0.4-0.4-0.4h0h0c-0.2,0-0.4,0.2-0.4,0.4l0,0.5l0,0.1h-0.8l0-0.1
           l0-0.5c0-0.2-0.2-0.4-0.4-0.4h0h0c-0.2,0-0.4,0.2-0.4,0.4l0,0.5l0,0.1h-1L1000.8,30.6C1000.9,30.5,1000.9,30.5,1000.8,30.6
           L1000.8,30.6z M1000.3,34c0,0,0-0.1,0-0.1v-1.8c0-0.4,0.3-0.7,0.7-0.7h9.6c0.4,0,0.7,0.3,0.7,0.7v1.8c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1
           c-0.1,0.2-0.2,0.4-0.5,0.5l-0.5,0.2l-1.7,0.5l-0.4,0.1c0,0-0.1,0-0.2,0l-1.6-1.5c-0.2-0.2-0.4-0.3-0.6-0.3c-0.1,0-0.1,0-0.2,0
           c-0.2,0-0.4,0.1-0.6,0.3l-1.5,1.5c0,0-0.1,0.1-0.2,0l-0.4-0.1l-1.7-0.5l-0.5-0.2C1000.5,34.4,1000.4,34.3,1000.3,34
           C1000.3,34,1000.3,34,1000.3,34L1000.3,34z M1005.8,24.3c0.3,0,0.6,0.3,0.6,0.6c0,0,0,0.1,0,0.1c0,0,0,0.1,0,0.1c0,0,0,0,0,0
           c-0.2,0-0.3,0-0.4,0h-0.1c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.3,0c0,0,0,0,0,0c0-0.1,0-0.1,0-0.2
           C1005.2,24.6,1005.4,24.3,1005.8,24.3L1005.8,24.3z M1005.3,51.4h-7.2v-2h7.2V51.4z M1005.3,41v2h-0.6c-0.6,0-1.1-0.3-1.4-0.7
           c0,0,0,0-0.1-0.1c0,0-0.1-0.1-0.1-0.1c0,0,0-0.1,0-0.1c-0.1-0.3-0.2-0.6-0.2-0.9v-1c0.8,0.4,1.6,0.6,2.5,0.7h0c0,0,0,0,0,0
           C1005.4,40.9,1005.3,41,1005.3,41L1005.3,41z M1006.2,40.8L1006.2,40.8c0.9-0.1,1.7-0.3,2.5-0.7v1c0,0.1,0,0.2,0,0.4
           c0,0.1-0.1,0.2-0.1,0.3c0,0.1-0.1,0.2-0.1,0.2c0,0.1-0.1,0.1-0.1,0.1c0,0,0,0-0.1,0.1c-0.2,0.2-0.4,0.4-0.6,0.5c0,0,0,0-0.1,0
           c-0.1,0-0.2,0.1-0.2,0.1c-0.1,0-0.3,0.1-0.5,0.1h-0.6v-2C1006.2,41,1006.2,40.9,1006.2,40.8C1006.2,40.9,1006.2,40.8,1006.2,40.8
           L1006.2,40.8z M1013.4,51.4h-7.2v-2h7.2V51.4z"/>
       <path class="st6" d="M1006.9,37.9c-0.1,0-0.2,0-0.2,0.1c-0.1,0.1-0.3,0.2-0.7,0.3h0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0,0,0h0h0h0
           h-0.1h0h0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0h0c-0.3-0.1-0.5-0.2-0.7-0.3c-0.1-0.1-0.2-0.1-0.2-0.1c-0.1,0-0.3,0.1-0.3,0.2
           c-0.1,0.2-0.1,0.5,0.1,0.6c0.2,0.1,0.7,0.4,1.2,0.4h0h0.1h0h0l0,0h0l0,0h0h0h0h0.1h0c0.6,0,1-0.3,1.2-0.4c0.2-0.1,0.2-0.4,0.1-0.6
           C1007.2,38,1007.1,37.9,1006.9,37.9L1006.9,37.9z"/>
       <defs>
           
               <filter id="Adobe_OpacityMaskFilter_00000062173969552635348730000002372911506784460973_" filterUnits="userSpaceOnUse" x="1003.2" y="36.9" width="5.2" height="3.2">
               <feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
           </filter>
       </defs>
       <mask maskUnits="userSpaceOnUse" x="1003.2" y="36.9" width="5.2" height="3.2" id="path-11-inside-2_95_606_00000160149187121977517460000001554862173834685612_">
           <path style="fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_00000062173969552635348730000002372911506784460973_);" d="
               M1006.9,37.9c-0.1,0-0.2,0-0.2,0.1c-0.1,0.1-0.3,0.2-0.7,0.3h0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0,0,0h0h0h0h-0.1h0h0
               c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0,0,0-0.1,0h0c-0.3-0.1-0.5-0.2-0.7-0.3c-0.1-0.1-0.2-0.1-0.2-0.1c-0.1,0-0.3,0.1-0.3,0.2
               c-0.1,0.2-0.1,0.5,0.1,0.6c0.2,0.1,0.7,0.4,1.2,0.4h0h0.1h0h0l0,0h0l0,0h0h0h0h0.1h0c0.6,0,1-0.3,1.2-0.4c0.2-0.1,0.2-0.4,0.1-0.6
               C1007.2,38,1007.1,37.9,1006.9,37.9L1006.9,37.9z"/>
       </mask>
       <path class="st8" d="M1006.7,38l-0.5-0.9l0,0l0,0L1006.7,38z M1006,38.2v1h0.1l0.1,0L1006,38.2z M1006,38.2v-1h-0.2l-0.2,0.1
           L1006,38.2z M1005.9,38.2v1h0.2l0.2-0.1L1005.9,38.2z M1005.9,38.3v1h0.2l0.2-0.1L1005.9,38.3z M1005.6,38.2l0.3-0.9l-0.1-0.1h-0.2
           V38.2z M1005.6,38.2l0.4-0.9l-0.2-0.1h-0.2V38.2z M1005.5,38.2l-0.2,1l0.1,0h0.1V38.2z M1004.8,38l-0.6,0.8l0,0L1004.8,38z
            M1004.6,37.9v1h0l0,0L1004.6,37.9z M1004.3,38.1l-0.8-0.6v0l0,0L1004.3,38.1z M1004.4,38.7l-0.5,0.8l0,0L1004.4,38.7z M1005.6,39.1
           l-0.1,1l0,0h0V39.1z M1006,39.1v1h0l0,0L1006,39.1z M1007.2,38.7l-0.5-0.8v0L1007.2,38.7z M1007.3,38.1l0.8-0.5l0,0l0,0L1007.3,38.1
           z M1006.9,36.9c-0.3,0-0.5,0.1-0.8,0.2l1,1.7c-0.1,0.1-0.2,0.1-0.3,0.1V36.9z M1006.2,37.1c-0.1,0-0.2,0.1-0.3,0.1l0.3,2
           c0.5-0.1,0.9-0.3,1-0.4L1006.2,37.1z M1006,37.2L1006,37.2l0,2h0V37.2z M1005.7,37.3c0.1,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0
           c0,0,0.1,0,0,0v2c0,0,0,0,0.1,0c0,0,0.2,0,0.3-0.1L1005.7,37.3z M1006,37.2C1006,37.2,1006,37.2,1006,37.2
           C1005.9,37.2,1005.9,37.2,1006,37.2c-0.1,0-0.1,0-0.2,0c-0.1,0-0.2,0.1-0.3,0.1l0.9,1.8c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.2,0-0.1,0
           V37.2z M1005.9,37.2c0,0-0.2,0-0.4,0.1l0.6,1.9c-0.1,0-0.1,0-0.2,0c0,0-0.1,0-0.1,0V37.2z M1005.9,37.3L1005.9,37.3l0,2h0V37.3z
            M1005.8,37.3L1005.8,37.3l0,2h0V37.3z M1005.8,37.3L1005.8,37.3l0,2h0V37.3z M1005.8,37.3L1005.8,37.3l-0.1,2h0.1V37.3z
            M1005.7,37.3L1005.7,37.3l0,2h0V37.3z M1005.7,37.3L1005.7,37.3l0,2h0V37.3z M1005.7,37.3C1005.6,37.3,1005.7,37.3,1005.7,37.3
           c0.1,0,0.2,0,0.3,0l-0.6,1.9c0.2,0.1,0.3,0.1,0.4,0.1V37.3z M1005.6,37.2c0,0,0.1,0,0.2,0c0.1,0,0.2,0.1,0.3,0.1l-0.9,1.8
           c0.1,0,0.2,0.1,0.3,0.1c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0,0,0,0,0,0V37.2z M1005.6,37.2C1005.6,37.2,1005.6,37.2,1005.6,37.2
           C1005.7,37.2,1005.7,37.2,1005.6,37.2c0.1,0,0.1,0,0.1,0c0,0,0,0,0,0C1005.7,37.2,1005.7,37.2,1005.6,37.2
           C1005.7,37.2,1005.7,37.2,1005.6,37.2C1005.6,37.2,1005.6,37.2,1005.6,37.2C1005.6,37.2,1005.5,37.2,1005.6,37.2l-0.1,2
           c0,0-0.1,0-0.1,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0.1,0V37.2z M1005.5,37.2
           L1005.5,37.2l0,2h0V37.2z M1005.7,37.2c-0.1,0-0.2-0.1-0.3-0.1l-1.1,1.7c0.2,0.1,0.6,0.3,1.1,0.4L1005.7,37.2z M1005.4,37.2
           c-0.2-0.2-0.6-0.3-0.9-0.2l0.1,2c-0.1,0-0.3,0-0.4-0.1L1005.4,37.2z M1004.6,36.9c-0.5,0-0.9,0.2-1.2,0.6l1.7,1.1
           c-0.1,0.1-0.3,0.2-0.5,0.2V36.9z M1003.4,37.6c-0.4,0.7-0.2,1.5,0.4,2l1.1-1.7c0.3,0.2,0.4,0.5,0.2,0.8L1003.4,37.6z M1003.8,39.5
           c0.3,0.2,0.9,0.5,1.7,0.6l0.1-2c-0.3,0-0.6-0.2-0.8-0.3L1003.8,39.5z M1005.6,40.1L1005.6,40.1l0-2h0V40.1z M1005.6,40.1
           L1005.6,40.1l0.1-2h-0.1V40.1z M1005.7,40.1L1005.7,40.1l0-2h0V40.1z M1005.7,40.1L1005.7,40.1l0-2h0V40.1z M1005.8,40.1
           L1005.8,40.1v-2l0,0V40.1z M1005.8,40.1L1005.8,40.1l0-2h0V40.1z M1005.8,40.1L1005.8,40.1v-2l0,0V40.1z M1005.8,40.1L1005.8,40.1
           l0-2h0V40.1z M1005.8,40.1L1005.8,40.1l0-2h0V40.1z M1005.8,40.1L1005.8,40.1l0-2h0V40.1z M1005.9,40.1L1005.9,40.1l0.1-2h-0.1V40.1
           z M1005.9,40.1L1005.9,40.1l0-2h0V40.1z M1006,40.1c0.8-0.1,1.4-0.4,1.7-0.6l-1.1-1.7c-0.1,0.1-0.4,0.2-0.7,0.2L1006,40.1z
            M1007.7,39.5c0.7-0.4,0.8-1.3,0.4-2l-1.7,1.1c-0.2-0.2-0.1-0.6,0.2-0.8L1007.7,39.5z M1008.1,37.5c-0.3-0.3-0.7-0.6-1.2-0.6v2
           c-0.2,0-0.3-0.1-0.4-0.2L1008.1,37.5z M1006.9,38.9L1006.9,38.9v-2l0,0V38.9z"/>
       <path class="st6" d="M1009.1,34.3c0.1,0,0.1,0,0.2,0c0.1,0,0.3-0.1,0.4-0.2l0.5-1.1c0.1-0.2,0-0.5-0.2-0.6c-0.2-0.1-0.5,0-0.6,0.2
           l-0.5,1.1C1008.8,34,1008.9,34.2,1009.1,34.3L1009.1,34.3z"/>
       <defs>
           
               <filter id="Adobe_OpacityMaskFilter_00000145750634665615551250000004212781717470843565_" filterUnits="userSpaceOnUse" x="1007.8" y="31.4" width="3.4" height="4.2">
               <feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
           </filter>
       </defs>
       <mask maskUnits="userSpaceOnUse" x="1007.8" y="31.4" width="3.4" height="4.2" id="path-13-inside-3_95_606_00000039122541642827685300000010074816358278123190_">
           <path style="fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_00000145750634665615551250000004212781717470843565_);" d="
               M1009.1,34.3c0.1,0,0.1,0,0.2,0c0.1,0,0.3-0.1,0.4-0.2l0.5-1.1c0.1-0.2,0-0.5-0.2-0.6c-0.2-0.1-0.5,0-0.6,0.2l-0.5,1.1
               C1008.8,34,1008.9,34.2,1009.1,34.3L1009.1,34.3z"/>
       </mask>
       <path class="st10" d="M1009.1,34.3l0.4-0.9l-0.8-0.4l-0.4,0.8L1009.1,34.3z M1009.6,34.1l0.9,0.4v0L1009.6,34.1z M1010.2,33
           l-0.9-0.5v0L1010.2,33z M1010,32.4l-0.5,0.9l0,0L1010,32.4z M1009.4,32.6l-0.9-0.4v0L1009.4,32.6z M1008.9,33.7l-0.9-0.4l0,0l0,0
           L1008.9,33.7z M1009.1,34.3l-0.4,0.9l0.9,0.4l0.5-0.8L1009.1,34.3z M1008.7,35.2c0.2,0.1,0.4,0.1,0.6,0.1v-2c0.1,0,0.2,0,0.2,0
           L1008.7,35.2z M1009.3,35.4c0.5,0,1-0.3,1.3-0.8l-1.8-0.9c0.1-0.2,0.3-0.3,0.5-0.3V35.4z M1010.5,34.6l0.5-1.1l-1.8-0.9l-0.5,1.1
           L1010.5,34.6z M1011.1,33.5c0.4-0.7,0.1-1.6-0.6-1.9l-0.9,1.8c-0.3-0.1-0.4-0.5-0.3-0.8L1011.1,33.5z M1010.5,31.6
           c-0.7-0.4-1.6-0.1-1.9,0.6l1.8,0.9c-0.1,0.3-0.5,0.4-0.8,0.3L1010.5,31.6z M1008.5,32.2l-0.6,1.1l1.8,0.9l0.5-1.1L1008.5,32.2z
            M1008,33.3c-0.3,0.7,0,1.5,0.7,1.9l0.9-1.8c0.3,0.1,0.4,0.5,0.3,0.8L1008,33.3z M1010,34.8L1010,34.8l-1.8-0.9l0,0L1010,34.8z"/>
       <path class="st6" d="M1007.7,33.5c0.1,0,0.1,0,0.2,0c0.2,0,0.3-0.1,0.4-0.2l0.4-0.7c0.1-0.2,0-0.5-0.2-0.6c-0.2-0.1-0.5,0-0.6,0.2
           l-0.4,0.7C1007.4,33.1,1007.5,33.4,1007.7,33.5L1007.7,33.5z"/>
       <defs>
           
               <filter id="Adobe_OpacityMaskFilter_00000018952424038749795310000005719506567600100014_" filterUnits="userSpaceOnUse" x="1006.5" y="30.9" width="3.2" height="3.9">
               <feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
           </filter>
       </defs>
       <mask maskUnits="userSpaceOnUse" x="1006.5" y="30.9" width="3.2" height="3.9" id="path-15-inside-4_95_606_00000008145347515118916760000007028492936849823154_">
           <path style="fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_00000018952424038749795310000005719506567600100014_);" d="
               M1007.7,33.5c0.1,0,0.1,0,0.2,0c0.2,0,0.3-0.1,0.4-0.2l0.4-0.7c0.1-0.2,0-0.5-0.2-0.6c-0.2-0.1-0.5,0-0.6,0.2l-0.4,0.7
               C1007.4,33.1,1007.5,33.4,1007.7,33.5L1007.7,33.5z"/>
       </mask>
       <path class="st12" d="M1007.7,33.5l0.4-0.9l-0.9-0.4l-0.4,0.8L1007.7,33.5z M1008.3,33.3l0.9,0.4l0,0L1008.3,33.3z M1008.7,32.5
           l-0.9-0.5v0L1008.7,32.5z M1008.5,32l-0.5,0.9l0,0L1008.5,32z M1007.9,32.2l-0.9-0.4l0,0L1007.9,32.2z M1007.5,32.9l0.9,0.4v0
           L1007.5,32.9z M1007.7,33.5l-0.5,0.9l0.9,0.4l0.5-0.9L1007.7,33.5z M1007.3,34.4c0.1,0.1,0.4,0.1,0.6,0.1v-2c0.1,0,0.2,0,0.2,0
           L1007.3,34.4z M1007.9,34.5c0.5,0,1-0.3,1.3-0.8l-1.8-0.9c0.1-0.2,0.3-0.3,0.5-0.3V34.5z M1009.2,33.7l0.4-0.7l-1.8-0.9l-0.4,0.7
           L1009.2,33.7z M1009.6,33c0.4-0.7,0.1-1.6-0.6-1.9l-0.9,1.8c-0.3-0.1-0.4-0.5-0.2-0.8L1009.6,33z M1008.9,31.1
           c-0.7-0.4-1.6-0.1-1.9,0.6l1.8,0.9c-0.1,0.3-0.5,0.4-0.8,0.3L1008.9,31.1z M1007,31.7l-0.4,0.7l1.8,0.9l0.4-0.7L1007,31.7z
            M1006.6,32.5c-0.4,0.7,0,1.6,0.6,1.9l0.9-1.8c0.3,0.1,0.4,0.5,0.2,0.8L1006.6,32.5z M1008.6,34L1008.6,34l-1.8-0.9l0,0L1008.6,34z"
           />
       <path class="st13" d="M1002.3,33.9L1002.3,33.9L1002.3,33.9z"/>
       <path class="st6" d="M1003.2,33.3c0.1,0.1,0.2,0.2,0.4,0.2c0.1,0,0.1,0,0.2,0c0.2-0.1,0.3-0.4,0.2-0.6l-0.4-0.7
           c-0.1-0.2-0.4-0.3-0.6-0.2c-0.2,0.1-0.3,0.4-0.2,0.6L1003.2,33.3z"/>
       <defs>
           
               <filter id="Adobe_OpacityMaskFilter_00000088811677877152322680000011074296664764340147_" filterUnits="userSpaceOnUse" x="1001.8" y="30.9" width="3.2" height="3.6">
               <feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
           </filter>
       </defs>
       <mask maskUnits="userSpaceOnUse" x="1001.8" y="30.9" width="3.2" height="3.6" id="path-18-inside-5_95_606_00000150820605377957482830000006808608735145511833_">
           <path style="fill:#FFFFFF;filter:url(#Adobe_OpacityMaskFilter_00000088811677877152322680000011074296664764340147_);" d="
               M1003.2,33.3c0.1,0.1,0.2,0.2,0.4,0.2c0.1,0,0.1,0,0.2,0c0.2-0.1,0.3-0.4,0.2-0.6l-0.4-0.7c-0.1-0.2-0.4-0.3-0.6-0.2
               c-0.2,0.1-0.3,0.4-0.2,0.6L1003.2,33.3z"/>
       </mask>
       <path class="st15" d="M1003.2,33.3l0.9-0.4v0L1003.2,33.3z M1003.8,33.5l0.4,0.9l0,0L1003.8,33.5z M1004,32.9l0.9-0.4l0,0L1004,32.9
           z M1003.6,32.2l0.9-0.4v0L1003.6,32.2z M1003,32l-0.4-0.9l0,0l0,0L1003,32z M1002.9,32.5L1002,33v0L1002.9,32.5z M1002.3,33.7
           c0.2,0.5,0.8,0.8,1.3,0.8v-2c0.2,0,0.4,0.1,0.5,0.3L1002.3,33.7z M1003.6,34.5c0.2,0,0.5-0.1,0.6-0.2l-0.9-1.8c0,0,0.1,0,0.1,0
           c0,0,0.1,0,0.1,0V34.5z M1004.2,34.4c0.7-0.4,1-1.2,0.6-1.9l-1.8,0.9c-0.1-0.3,0-0.6,0.2-0.8L1004.2,34.4z M1004.9,32.5l-0.4-0.7
           l-1.8,0.9l0.4,0.7L1004.9,32.5z M1004.5,31.7c-0.4-0.7-1.2-1-1.9-0.6l0.9,1.8c-0.3,0.1-0.6,0-0.8-0.3L1004.5,31.7z M1002.6,31.1
           c-0.7,0.4-1,1.2-0.6,1.9l1.8-0.9c0.1,0.3,0,0.6-0.2,0.8L1002.6,31.1z M1002,33l0.4,0.7l1.8-0.9l-0.4-0.7L1002,33z"/>
       <path class="st3" d="M1094.3,29c0,0.2-0.1,0.4-0.2,0.6c-0.1,0.2-0.3,0.3-0.5,0.4c-0.2,0.1-0.4,0.1-0.6,0.1c-0.2,0-0.4-0.1-0.6-0.3
           c-0.2-0.2-0.3-0.3-0.3-0.6c0-0.2,0-0.4,0.1-0.6c0.1-0.2,0.2-0.4,0.4-0.5c0.2-0.1,0.4-0.2,0.6-0.2c0.3,0,0.6,0.1,0.8,0.3
           C1094.2,28.5,1094.3,28.7,1094.3,29L1094.3,29z"/>
       <path class="st3" d="M1093.2,23.6c-1,0-5.4,0.7-5.4,5.5s5.3,8.9,5.4,8.9s5.4-4.1,5.4-8.9S1094.2,23.6,1093.2,23.6z M1093.2,37
           c-1.2-1-4.6-4.3-4.6-7.8c0-4.4,4.5-4.6,4.6-4.6c0.1,0,4.6,0.2,4.6,4.6C1097.8,32.7,1094.5,35.9,1093.2,37z"/>
       <path class="st3" d="M1107.6,52l-6-8.9l-1.6,1l-2.4-2.6l-3.2,2.8l-2.6-4.8l-1.5,1.6l-2.9-3.6l-3,5.7l-0.7-0.7l-1.3,0.9l-1.9,2.7
           l-1.4-0.8l-2.2,7.1l0,0.1l0,0v0h0.7l0.2,0h20.5v0l0,0h0.3v0l0.2,0l7.4,0h1.8L1107.6,52z M1094,46.4l-1.7,1.5l-3.3-3.6v2.4l-1.6-2.9
           l-1.2,2l-0.3,4.6l-1.1-3.7l-2.2,1.3l-1.5,2.5l-1.1-1.5l-2.1,2.7l1.7-5.4l1.3,0.7l2.1-3l0.9-0.6l0.9,0.8l3-5.6l2.8,3.4l1.4-1.5
           l5.9,11.1L1094,46.4z M1103.3,50.4l-0.5,1.1l-2.7-2.3v1.3l-2-1.9l-0.9,1l-2.4-4.6l2.9-2.6l2.3,2.5l1.6-1l3.4,5.1l0.5,3.2
           L1103.3,50.4z"/>
       </svg></nav>
    </header>
    <main>
        <div class="container flex-container">
            <div class="logo-container">
            <img src="/img/logo.png" alt="Logo">
        </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="presentation">
                        Tu as de la misère à trouver de la poudreuse qui n’a pas été tapée par un millier de skieurs de randonnée ?<br>
                        <span>Tu es au bon endroit !</span><br>
                        Vient découvrir les meilleurs spots et fait découvrir tes secrets bien gardés... un partage à la fois !
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6 flex-container">
                    <div class="box-connexion">
                        <img src="/img/ico-1.png" alt="icon">
                        <div><span>Bienvenue !</span><br>
                            Envie de découvrir de nouveaux spots de ski de randonnée ?<br>
                            Ou de partager les vôtres ?<br> <br>

                            Rejoint-nous!</div>
                        <button type="submit">S'inscrire</button>
                    </div>
                </div>
                <div class="col-6 flex-container">
                    <div class="box-connexion ">
                        <img src="/img/ico-2.png" alt="icon">
                        <div><span>Vous êtes de retour !</span><br>
                            Vous vous êtes bien amusé ?<br>
                            Vous voulez participer à d’autres à randonnées avec vos amis ? <br> <br>

                            C’est le moment de découvrir ce que tes amis<br>
                            ont fait durant ton absence!</div>
                        <button type="submit">Connexion</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <img src="/img/logo-p.png">
        <div>Termes et Conditions  -  Confidentialité  -  À propos  -  Nous contacter</div>
        <div>btn RS</div>
    </footer>
</body>
</html>