Profil ici du skieur cliqué

<h1 class="mt-3"><%= showUser.name %></h1>
<p class="m-1"><span>Email : </span><%= showUser.email %></p>

<form action="/profilSkieur" method="post">
    <button type="submit">Add as a friend!</button>
</form>