/*** FONTS ***/
@font-face {
    font-family: GothamL;
    src: url(../fonts/Gotham-Light.otf);
}  
@font-face {
    font-family: GothamB;
    src: url(../fonts/GothamBold.ttf);
}       
@font-face {
    font-family: GrandL;
    src: url(../fonts/SF\ Grandezza\ Light.ttf);
}
@font-face {
    font-family: GrandH;
    src: url(../fonts/SF\ Grandezza\ Heavy.ttf);
}
/*** CODE PRINCIPAL ***/
:root{
    --cream: #F7F6F0;
    --cream-o:rgba(247, 246, 240, 0.6);
    --lightblue:#A7CBD5;
    --gray:#71777D;
    --midblue:#4D4C59;
    --darkblue:#362C36;
    --radius: 25px;
    --shadow: 0 0 4px var(--darkblue);
    --blur: blur(10px);
    --bg-blur:rgba(247,246,240,0.01);
    --bg-1:url(../img/bg-1.jpg);
    --bg-2:url(../img/bg-2.jpg);
    --logo:url(../img/logo.png);
}
/*** INITIAL PAGE ***/
*{
    margin:0;
    padding:0;
}
html {
    width: 100%;
    height: 100%;
}
body{
    background-color: rgba(54, 44, 54, 0.3)!important;
    background-image: var(--bg-2);
    background-blend-mode: multiply;
    width:100%;
    height:100%;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
}
header{
    width:100%;
    height:auto;
    backdrop-filter: var(--blur);
    background-color:var(--bg-blur);
    text-align: center;
}
nav{
    margin: 5px;
    width: 100%;
    display:flex;
    justify-content:space-between;
  }
  nav .logo img{
    height:100%;
  }
  nav .main_menu{
    display: flex;
    align-items: center;
  }
  nav .main_menu a{
    display: flex;
    align-items: center;
    justify-content: center;
  }
.search-nav{
    height:25px !important;
    background-color:var(--bg-blur) !important;
    border-radius:var(--radius);
    border:1px solid var(--lightblue)!important;
    padding:5px !important;
}
#Layer_1{
    width: 75%;
}
footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width: 75%;
    height:50px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}
footer div{
    color:var(--lightblue);
    font-family: GothamB;
    text-transform:uppercase;
    letter-spacing: 0.1em;
    font-size:8px;
    text-shadow:var(--shadow);
}
.flex-container{
    display: flex;
    justify-content:center;
    align-items:center;
}
.flex-container-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo-container{
    height: 100%;
    width: auto;
    display: flex;
    top: 0;
    align-items:flex-start;
    justify-content: center;
    padding: 0px 25px 2.5%;
}
.logo-container img{
    width: 35%;
    height:auto;
}
.presentation{
    margin-top:1.5em;
    margin-bottom: 2em;
    font-size:15px;
    color:var(--cream);
    font-family: GothamL;
    text-shadow:var(--shadow);
    text-align:center;
}
.presentation span{
    font-family:GrandH;
    font-size:22px;
    color:var(--lightblue);
    text-transform:uppercase;
}
.box-connexion{
    width:450px;
    height:400px;
    backdrop-filter: var(--blur);
    background-color:var(--cream-o);
    border-radius: var(--radius);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
}
.box-connexion div{
    font-family:GothamL;
    font-size:14px;
    color:var(--darkblue);
    text-align:center;
}
.box-connexion div span{
    font-family:GothamB;
    font-size:14px;
}
.box-connexion button{
    border-radius:var(--radius);
    background-color:var(--darkblue);
    color:var(--cream);
    font-family:GrandH;
    color:var(--lightblue);
    padding: 5px 0px;
    border: none;
    width: 165px;
}

/* SIGN UP et SIGN IN */
.titre-signup-signin{
    font-family:GrandH;
    color:var(--lightblue);
    margin-bottom: 50px;
}
.flex-container-signup-signin{
    display: flex;
    justify-content:center;
    align-items:center;
}
.height-signup{
    height: 550px;
}
.height-signin{
    height: 350px;
}
.box-signup-signin{
    width: 27%;
    backdrop-filter: var(--blur);
    background-color:var(--cream-o);
    border-radius: var(--radius);
    display:flex;
    flex-direction:column;
    font-size: 18px;
}
.box-signup-signin label {
    margin-bottom: 3px;
    margin-left: 55px;
    margin-top: 30px;
    font-family:GrandH;
    text-align: left;
}
.box-signup-signin input {
    margin: 0px auto;
    border-radius: var(--radius);
    border: none;
    width: 80%;
    height: 35px;
    font-family:GrandH;
    font-size: 16px;
    outline: 1px solid var(--darkblue);
}
.box-signup-signin input:focus {
    outline: 4px solid var(--lightblue);
}
.box-signup-signin button{
    font-family:GrandH;
    margin: 40px auto 30px;
    border-radius:var(--radius);
    background-color:var(--darkblue);
    color:var(--lightblue);
    padding: 7px 0px;
    border: none;
    width: 80%;
}
.box-signup-signin p{
    text-align: center;
    font-family: GothamL;
    font-size: 16px;
}
.box-signup-signin span{
    color: dodgerblue;
    font-weight: bold;
}
.box-signup-signin span a{
    text-decoration: none;
}

/* PROFIL */
.pageProfilInside{
    width:100%;
    height:900px;
}
.box-connexion-profile-gauche{
    border-radius: 25px 0px 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.box-connexion-profile-gauche img{
    flex-shrink:0;
    min-width:100%;
    min-height:100%
}
.box-connexion-profile-droite{
    backdrop-filter: var(--blur);
    background-color:var(--cream-o);
    border-radius: 0px 25px 25px 0px;
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
}
.box-connexion-profile-droite h1 {
    font-family:GrandH;
    font-size: 2em;
    text-transform:uppercase;
    color:var(--darkblue);
}
.box-connexion-profile-droite h2 {
    font-family:GrandH;
    font-size: 1.5em;
    text-transform:uppercase;
    color:var(--gray);
}
.box-connexion-profile-droite h3 {
    font-family:GrandH;
    font-size: 1em;
    text-transform:uppercase;
    color:var(--gray);
    font-weight: bold;
}
.box-connexion-profile-inside-description{
    border: 1px solid var(--gray);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 20px;
}
.box-connexion-profile-inside-description span{
    text-align: center;
    text-transform:uppercase;
    font-family: GothamB;
    font-size: 1em;
    color:var(--darkblue);
}
.box-connexion-profile-inside-description p{
    text-align: center;
    font-family: GothamL;
    font-size: 0.75em;
    color:var(--darkblue);
}
.box-connexion-profile-inside-addon1{
    border: 1px solid var(--gray);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding: 10px;
    margin: 5px;
}
.box-connexion-profile-inside-addon1 span{
    text-align: center;
    text-transform:uppercase;
    font-family: GothamB;
    font-size: 1em;
    color:var(--darkblue);
}
.box-connexion-profile-inside-addon1 p{
    text-align: center;
    font-family: GothamL;
    font-size: 0.75em;
    color:var(--darkblue);
}
.pageProfilInside img{
    width: auto;
    height: 100%;
    border-radius: 25px 0px 0px 25px;
    display: flex;
    align-self: flex-start;
}
.icon-profile-section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: auto;
    border: 1px solid var(--gray);
    border-radius: var(--radius);
    padding: 5px;
}
.icon-profile-section img{
    margin: 0px 10px 0px 10px;
    width: 35%;
    height: auto;
}
.icon-profile-section-social{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: auto;
}