/*** FONTS ***/
@font-face {
    font-family: GothamL;
    src: url(../fonts/Gotham-Light.otf);
}  
@font-face {
    font-family: GothamB;
    src: url(../fonts/GothamBold.ttf);
}       
@font-face {
    font-family: GrandL;
    src: url(../fonts/SF\ Grandezza\ Light.ttf);
}
@font-face {
    font-family: GrandH;
    src: url(../fonts/SF\ Grandezza\ Heavy.ttf);
}
/*** CODE PRINCIPAL ***/
:root{
    --cream: #F7F6F0;
    --cream-o:rgba(247, 246, 240, 0.6);
    --lightblue:#A7CBD5;
    --gray:#71777D;
    --midblue:#4D4C59;
    --darkblue:#362C36;
    --radius: 25px;
    --shadow: 0 0 4px var(--darkblue);
    --blur: blur(10px);
    --bg-blur:rgba(247,246,240,0.01);
    --bg-1:url(../img/bg-1.jpg);
    --bg-2:url(../img/bg-2.jpg);
    --logo:url(../img/logo.png);
}
/*** INITIAL PAGE ***/
*{
    margin:0;
    padding:0;
}
html {
    width: 100%;
    height: 100%;
}
body{
    background-color: rgba(54, 44, 54, 0.3)!important;
    background-image: var(--bg-2);
    background-blend-mode: multiply;
    width:100%;
    height:100%;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
}
header{
    width:100%;
    height:auto;
    backdrop-filter: var(--blur);
    background-color:var(--bg-blur);
    text-align: center;
}
#Layer_1{
    width: 75%;
}
footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width: 75%;
    height:50px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}
footer div{
    color:var(--lightblue);
    font-family: GothamB;
    text-transform:uppercase;
    letter-spacing: 0.1em;
    font-size:8px;
    text-shadow:var(--shadow);
}
.flex-container{
    display: flex;
    justify-content:center;
    align-items:center;
}
.flex-container-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo-container{
    height: 100%;
    width: auto;
    display: flex;
    top: 0;
    align-items:flex-start;
    justify-content: center;
    padding: 0px 25px 2.5%;
}
.logo-container img{
    width: 35%;
    height:auto;
}
.presentation{
    margin-top:1.5em;
    margin-bottom: 2em;
    font-size:15px;
    color:var(--cream);
    font-family: GothamL;
    text-shadow:var(--shadow);
    text-align:center;
}
.presentation span{
    font-family:GrandH;
    font-size:22px;
    color:var(--lightblue);
    text-transform:uppercase;
}
.box-connexion{
    width:450px;
    height:400px;
    backdrop-filter: var(--blur);
    background-color:var(--cream-o);
    border-radius: var(--radius);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
}
.box-connexion div {
    font-family:GothamL;
    font-size:14px;
    color:var(--darkblue);
    text-align:center;
}
.box-connexion div span{
    font-family:GothamB;
    font-size:14px;
}
.box-connexion button{
    border-radius:var(--radius);
    background-color:var(--darkblue);
    color:var(--cream);
    padding: 5px 0px;
    border: none;
    width: 165px;
}